
/* I cannot test whether the font is working as it is a Google APi, and I
* live in china. If someone happens to see this, could you let me know?
* until i can test it, I have chosen to leave those divs outlined.
* I'm currently looking for  a similar font or a way around this issue.
*/


html,
body {
	display: flex;
	width: 100%;
	height: 100%;

	justify-content: center;
	align-items: center;
	overflow: hidden;

	background: #19A1AD;
	background-image: url(images/bg-pattern-top.svg),
	 url(images/bg-pattern-bottom.svg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}




@media (min-width: 377px) {
	body{
	width: 1440px;
	background-position:	left -5px top -205px, right 30px bottom -302px;
	background-size: 600px;
}
}

@media (max-width: 376px) {
	body {
	width: 400px;
	background-position:	left -210px top -140px, right -350px bottom -210px;
	background-size: 500px;

}
}

* {
	margin: 0;
	padding: 0;
}

p {

}



.card {
	position:absolute;
	display: flex;
	justify-content: center;
	height: 350px;			/* use pixels so it keeps it's size */
	width: 320px;
	border-radius: 20px;
	background: white;

	-moz-box-shadow: 1px 2px 70px rgba(45, 50, 72, .4);
	-webkit-box-shadow: 1px 2px 70px rgba(45, 50, 72, .4);
	box-shadow: 1px 2px 70px rgba(45, 50, 72, .4);



	overflow: hidden;

}

.banner {
	position: absolute;
	display: flex;
	align-self:  stretch;
	width: 100%;
	height: 37%;
	margin: 0;
	padding: 0;
	border-radius: 20px 20px 0 0;
	background-image: url("images/bg-pattern-card.svg");
	background-color: hsl(185, 75%, 39%);			/*incase the image isn't there */
}

.info-main{
	display: inline-block;

	position:absolute;
	width: 195px;
	height: 17%;
	padding: 0 10px;
	top: 56%;
	outline: 0px purple solid;
	text-align: center;

}

.user-name {
	display: inline-block;

		height: auto;
		width: 130px;

		padding-top: 5px;
		font-size: 19px;
		font-weight: 700;

}

.user-age {
		display: inline-block;
		height: auto;
		width: 15px;

		font-size: 16px;

}

.user-city {
		padding-top: 13px;
		font-size: 16px;

}


.info-stats{
	position: absolute;
	display:flex;
	align-self: flex-end;
	justify-content: space-around;
	flex-basis: 100%;
	align-items: center;

	width: 100%;
	height: 21%;
	margin-left: 15px;
	margin-right: 15px;
	overflow: hidden;

	text-align: center;

	border-top: 1px solid hsl(227, 10%, 90%);			/* gradient this? */
}

#info-box {
	width: 60px;
	border: 1px black solid;
	margin-left:
}

#count {
	font-weight: bold;
}

#title {
	font-weight: lighter;
}



.profile-picture {
	position: absolute;
	top: 24%;
	border: 5px white solid;
	border-radius: 50%;

}


.attribution {
	display: flex;
	align-self: flex-end;
	align-items: stretch;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

/* Mobile phone, 375px*/
/*
@media screen and (min-width: 375px) {
	body {
		width: 337px;
	}
}
*/
